<div class="about">

  <%= link_to repo_link('rhannequin', 'stalkhub'), :target => '_blank' do %>
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
  <% end %>

  <h1>About Stalkhub</h1>

  <p>Stalhub is an application based on the <a href="http://developer.github.com/v3">Github API</a> which aim is to follow push activity about Github repositories.</p>

  <p>This project will allow you to get hot news about Github repositories you want. It will show you all the commits you have not seen yet. New features will be added like User push activity, User insights, Repos insights in order to have all information you need about your favorite Github repositories.</p>

  <h2>Contributors</h2>

  <ul>
    <li>Rémy Hannequin: <a href="https://twitter.com/rhannequin">Twitter</a> - <%= link_to 'Github', profile_link('rhannequin'), :target => '_blank' %></li>
  </ul>

  <h2>Tech Stack</h2>

  <div class="row-fluid">
    <div class="span6">
      <h3>Backend</h3>
      <ul>
        <li><a href="http://www.ruby-lang.org">Ruby</a> 1.9.3</li>
        <li><a href="http://www.rubyonrails.org">Ruby On Rails</a> 3.2.11</li>
        <li><a href="http://www.sqlite.org">SQLite3</a></li>
        <li><a href="http://www.postgresql.org">PostgreSQL</a> (production environement)</li>
      </ul>
    </div>
    <div class="span6">
      <h3>Frontend</h3>
      <ul>
        <li><a href="http://jquery.com">jQuery</a> 1.8.3</li>
        <li><a href="http://requirejs.org">RequireJS</a> 2.1.4</li>
        <li><a href="http://backbonejs.org">Backbone.js</a> 0.9.10</li>
        <li><a href="http://lodash.com">Lo-Dash</a> 1.0.1</li>
        <li><a href="http://handlebarsjs.com">Handlebars</a> 1.0.0</li>
        <li><a href="http://developer.github.com/v3">Github API</a> v3</li>
      </ul>
    </div>
  </div>

  <h2>Contribute - Fork - Browse code</h2>

  <p>You can get all information you need about the project's code and how to contribute on <%= link_to 'Github', repo_link('rhannequin', 'stalkhub'), :target => '_blank' %>.</p>

</div>