<div class="main-feature">
  <h1>Stalk now!</h1>

  <% if current_user.nil? %>
    <div class="auth-actions">
      <%= link_to('Login', login_path, :class => 'btn btn-primary') %>
    </div>
  <% else %>
    <form class="form-inline">
      <input type="text" class="input-large" name="owner" placeholder="Github Username">
      <input type="text" class="input-large" name="repo" placeholder="Repo name">
      <button type="submit" class="btn btn-primary">Stalk!</button>
    </form>
    <div class="results"></div>
  <% end %>
</div>